<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nerolink.resource_library">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.LoginActivity" />

        <service
            android:name=".service.MQTTService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nerolink.resource_library.mqtt.service" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>